<md-sidenav-container class="demo-root" fullscreen>
  <md-sidenav #start>
    <md-nav-list>
    </md-nav-list>
    <button md-button tabindex="-1" (click)="start.close()">CLOSE</button>
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <div class="demo-toolbar">
        <button md-button (click)="handleClick()">Show Me the Dinner!</button>
      </div>
    </md-toolbar>
  
    <div class="content">
      <md-card>
        <md-card-content>
          <md-progress-bar *ngIf="loadingDinners" mode="indeterminate"></md-progress-bar>            
          <md-table #table [dataSource]="dataSource">
      
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
      
            <ng-container cdkColumnDef="name">
              <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
              <md-cell *cdkCellDef="let row">
                <a md-button [attr.href]="row.recipe" target="_blank">
                  {{row.name}}
                  <md-icon>open_in_new</md-icon>
                </a>
              </md-cell>
            </ng-container>

            <ng-container cdkColumnDef="category">
              <md-header-cell *cdkHeaderCellDef style="max-width: 80px;"> Category </md-header-cell>
              <md-cell *cdkCellDef="let row" style="max-width: 80px;">{{row.category}}</md-cell>
            </ng-container>
      
            <ng-container cdkColumnDef="time">
              <md-header-cell *cdkHeaderCellDef style="max-width: 80px;">Time</md-header-cell>
              <md-cell *cdkCellDef="let row" style="max-width: 80px;"> {{row.time}} </md-cell>
            </ng-container>
      
            <ng-container cdkColumnDef="servings">
              <md-header-cell *cdkHeaderCellDef style="max-width: 80px;">Servings</md-header-cell>
              <md-cell *cdkCellDef="let row" style="max-width: 80px;"> {{row.servings}} </md-cell>
            </ng-container>
      
            <ng-container cdkColumnDef="meals">
              <md-header-cell *cdkHeaderCellDef style="max-width: 40px;">Meals</md-header-cell>
              <md-cell *cdkCellDef="let row" style="max-width: 40px;"> {{row.meals}} </md-cell>
            </ng-container>
      
            <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
          </md-table>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-sidenav-container>