html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

.content {
  padding: 16px;
}

.d-f { display: flex; }
.fg-1 { flex-grow: 1; }
.jc-c { justify-content: center; }
.fd-c { flex-direction: column; }

md-cell {
  .mat-button {
    padding-left: 0;
  }
}