<mat-sidenav-container fullscreen>
  <mat-sidenav
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches">
    <mat-nav-list>
      <div *ngIf="mobileQuery.matches" style="min-width: 50vw;"></div>
      <a *ngIf="$auth.user" mat-list-item routerLink="/random/{{$auth.user.uid}}" routerLinkActive="active" (click)="snav.close()">Get Dinners</a>
      <a *ngIf="$auth.user" mat-list-item routerLink="/dinners/{{$auth.user.uid}}" routerLinkActive="active" (click)="snav.close()">All Dinners</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Top Navigation -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>

      <!-- Show Me The Dinner -->
      <span>Show Me the Dinner!</span>
      <div style="flex: 1 1 auto; min-width: 16px;"></div>
      <span class="cur-p truncate" *ngIf="$auth.loggedIn && !$auth.user.photoURL" (click)="logout()">{{$auth.user.displayName}}</span>
      <img src="{{$auth.user.photoURL}}" class="cur-p" *ngIf="$auth.loggedIn && $auth.user.photoURL" (click)="logout()">
    </mat-toolbar>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>