/* You can add global styles to this file, and also import other style files */
@import './theme';

body { margin: 0 }
.cur-p { cursor: pointer; }
.w-100 { width: 100%; }
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content {
  max-height: calc(100vh - 56px);
  overflow: auto;
}

mat-sidenav-content, mat-sidenav.mat-drawer {
  background-color: #f2f2f2;
}

mat-nav-list {
  .mat-list-item.active {
    color: map-get($candy-app-primary, 500);
  }
}